/* Algemeen */
    .html {
        scroll-behavior: smooth;
    }
    
    .main {
        height: 1125px;
    }

/* Lijnen */
    .Verticale-lijn {
        position: absolute;
        border-left: 3px solid #f97373;
        left: 1522px;
        right: 398px;
        top: 244px;
        bottom: 41px;
        height: 802px;
    }

/* Header */
    /* Afbeeldingen */
        .Logo {
            position: absolute;
            left: 67px;
            top: 65px;
            bottom: 955px;
            right: 1573px;
            width: 260px;
            height: 56px;
        }
    /* Navigatiebalk */
        #open-menu-button{
            display: none;
        }

        #close-menu-button{
            display: none;
        }

        #fullscreen-menu{
            display: none;
        }
        
        .Welkom-nav {
            position: absolute;
            left: 506px;
            top: 85px;
            bottom: 976px;
            right: 1354px;
            width: 60px;
            height: 19px;
            font-family: "Inter-Regular", Helvetica;
            font-weight: 400;
            color: #000000;
            Font-size: 16px;
            text-decoration: none;
        }

        .Welkom-nav:hover{
            text-decoration: underline;
            text-underline-offset: 10px;
            text-decoration-color: #f97373;
            text-decoration-thickness: 3px;
        }

        .Ligging-nav {
            position: absolute;
            left: 639px;
            top: 85px;
            bottom: 976px;
            right: 1225;
            width: 56px;
            height: 19px;
            font-family: "Inter-Regular", Helvetica;
            font-weight: 400;
            color: #000000;
            Font-size: 16px;
            text-decoration: none;
        }

        .Ligging-nav:hover{
            text-decoration: underline;
            text-underline-offset: 10px;
            text-decoration-color: #f97373;
            text-decoration-thickness: 3px;
        }
        
        .Contact-nav {
            position: absolute;
            left: 768px;
            top: 85px;
            bottom: 976px;
            right: 1091px;
            width: 61px;
            height: 19px;
            font-family: "Inter-Regular", Helvetica;
            font-weight: 400;
            color: #000000;
            Font-size: 16px;
            text-decoration: none;
        }

        .Contact-nav:hover{
            text-decoration: underline;
            text-underline-offset: 10px;
            text-decoration-color: #f97373;
            text-decoration-thickness: 3px;
        }
        
        .Kalender-nav {
            position: absolute;
            left: 902px;
            top: 85px;
            bottom: 976px;
            right: 950px;
            width: 68px;
            height: 19px;
            font-family: "Inter-Regular", Helvetica;
            font-weight: 400;
            color: #000000;
            Font-size: 16px;
            text-decoration: none;
        }
        
        .Kalender-nav:hover{
            text-decoration: underline;
            text-underline-offset: 10px;
            text-decoration-color: #f97373;
            text-decoration-thickness: 3px;
        }

        .Historiek-nav {
            position: absolute;
            left: 1043px;
            top: 85px;
            bottom: 976px;
            right: 809px;
            width: 68px;
            height: 19px;
            font-family: "Inter-Regular", Helvetica;
            font-weight: 400;
            color: #000000;
            Font-size: 16px;
            text-decoration: none;
        }

        .Historiek-nav:hover{
            text-decoration: underline;
            text-underline-offset: 10px;
            text-decoration-color: #f97373;
            text-decoration-thickness: 3px;
        }
        
        .Fotos-nav {
            position: absolute;
            left: 1184px;
            top: 85px;
            bottom: 976px;
            right: 692px;
            width: 44px;
            height: 19px;
            font-family: "Inter-Regular", Helvetica;
            font-weight: 400;
            color: #000000;
            Font-size: 16px;
            text-decoration: none;
        }

        .Fotos-nav:hover{
            text-decoration: underline;
            text-underline-offset: 10px;
            text-decoration-color: #f97373;
            text-decoration-thickness: 3px;
        }
        
        .Aansluiten-nav {
            position: absolute;
            left: 1301px;
            top: 85px;
            bottom: 976px;
            right: 540px;
            width: 79px;
            height: 19px;
            font-family: "Inter-Regular", Helvetica;
            font-weight: 400;
            color: #000000;
            Font-size: 16px;
            text-decoration: none;
        }

        .Aansluiten-nav:hover{
            text-decoration: underline;
            text-underline-offset: 10px;
            text-decoration-color: #f97373;
            text-decoration-thickness: 3px;
        }
        
        .Openingsuren-nav {
            position: absolute;
            left: 1453px;
            top: 85px;
            bottom: 976px;
            right: 361px;
            width: 106px;
            height: 19px;
            font-family: "Inter-Regular", Helvetica;
            font-weight: 400;
            color: #000000;
            Font-size: 16px;
            text-decoration: none;
        }

        .Openingsuren-nav:hover{
            text-decoration: underline;
            text-underline-offset: 10px;
            text-decoration-color: #f97373;
            text-decoration-thickness: 3px;
        }
        
        .Privacyverklaring-nav {
            position: absolute;
            left: 1632px;
            top: 85px;
            bottom: 2042px;
            right: 158px;
            width: 130px;
            height: 19px;
            font-family: "Inter-Regular", Helvetica;
            font-weight: 400;
            color: #000000;
            Font-size: 16px;
            text-decoration: none;
        }

        .Privacyverklaring-nav:hover{
            text-decoration: underline;
            text-underline-offset: 10px;
            text-decoration-color: #f97373;
            text-decoration-thickness: 3px;
        }

/* Article */
    /* Afbeeldingen */
        .Multisport-1 {
            position: absolute;
            left: 30px;
            top: 261px;
            bottom: 773px;
            right: 1737px;
            width: 555px;
            height: 388px;
        
        }
        
        .Multisport-2 {
            position: absolute;
            left: 585px;
            top: 261px;
            bottom: 773px;
            right: 1182px;
            width: 555px;
            height: 388px;
        
        }
        
        .Multisport-3 {
            position: absolute;
            left: 30px;
            top: 649px;
            bottom: 385px;
            right: 1737px;
            width: 555px;
            height: 388px;
        
        }
        
        .Multisport-4 {
            position: absolute;
            left: 585px;
            top: 649px;
            bottom: 385px;
            right: 1182px;
            width: 555px;
            height: 388px;
        }
    /* Welkom */
        .Kleutersport-Titel {
            position: absolute;
            left: 67px;
            top: 201px;
            bottom: 833px;
            right: 1737px;
            width: 180px;
            height: 26px;
            font-family: "Inter-Bold", Helvetica;
            font-weight: 700;
            color: #000000;
            Font-size: 20px;
            letter-spacing: 0;
            line-height: normal;
        }
        
/* Aside */
    /* Afbeeldingen */
        .BBQ {
            position: absolute;
            left: 1548px;
            top: 538px;
            bottom: 317px;
            right: 72px;
            width: 300px;
            height: 225px;
        }

        .Clubkampioenschap-Volwassenen {
            position: absolute;
            left: 1548px;
            top: 820px;
            bottom: 91px;
            right: 72px;
            width: 300px;
            height: 225px;
        }
    /* Activiteiten */
        .Activiteiten-Nieuwe-Titel {
            position: absolute;
            left: 1548px;
            top: 225px;
            bottom: 801px;
            right: 44px;
            width: 328px;
            height: 74px;
            font-family: "Inter-ExtraBold", Helvetica;
            font-weight: 800;
            color: #f97373;
            Font-size: 16px;
            letter-spacing: 0;
            line-height: normal;
        }
        
        .Activiteiten-Nieuwe-Tekst {
            position: absolute;
            left: 1548px;
            top: 277px;
            bottom: 615px;
            right: 44px;
            width: 328px;
            height: 188px;
            font-family: "Inter-Regular", Helvetica;
            font-weight: 400;
            color: #000000;
            Font-size: 16px;
            letter-spacing: 0;
            line-height: normal;
        }
        
        .Activiteiten-Oude-Titel {
            position: absolute;
            left: 1548px;
            top: 420px;
            bottom: 604px;
            right: 44px;
            width: 328px;
            height: 188px;
            font-family: "Inter-ExtraBold", Helvetica;
            font-weight: 800;
            color: #f97373;
            Font-size: 16px;
            letter-spacing: 0;
            line-height: normal;
        }
        
        .Activiteiten-Oude-Tekst1 {
            position: absolute;
            left: 1548px;
            top: 490px;
            bottom: 542px;
            right: 44px;
            width: 328px;
            height: 48px;
            font-family: "Inter-Bold", Helvetica;
            font-weight: 700;
            color: #000000;
            Font-size: 16px;
            letter-spacing: 0;
            line-height: normal;
        }

        .Activiteiten-Oude-Tekst2 {
            position: absolute;
            left: 1548px;
            top: 772px;
            bottom: 260px;
            right: 44px;
            width: 328px;
            height: 48px;
            font-family: "Inter-Bold", Helvetica;
            font-weight: 700;
            color: #000000;
            Font-size: 16px;
            letter-spacing: 0;
            line-height: normal;
          }

/* Footer */
    .footer {
        text-align: center;
        align-items: center;
        margin-left: -8px;
        margin-right: -8px;
        margin-bottom: -16px;
        margin-top: -16px;
        border: none;
        background-color: #514e4e;
        padding: 20px;
    }
    
    .Privacyverklaring-footer {
        font-family: "Inter-Regular", Helvetica;
        font-weight: 400;
        color: white;
        Font-size: 16px;
        text-decoration: none;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .Privacyverklaring-footer a {
        font-family: "Inter-Regular", Helvetica;
        font-weight: 400;
        color: white;
        Font-size: 16px;
        text-decoration: none;
        align-items: center;
    }

/* Extra pagina's */
    .Start-To-Pingpong-nav {
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700;
        color: #f97373;
        Font-size: 16px;
        text-decoration: none;
    }
    
    .Kleutersport-nav {
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700;
        color: #f97373;
        Font-size: 16px;
        text-decoration: none;
    }